<%= form_for @debtor do |f| %>
  <% if @debtor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debtor.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @debtor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= form_for @debtor do |f| %>
	<div>
	<%= f.label :name %>
	<%= f.text_field :name %>
	</div>
	<div>
	<%= f.label :amount %>
	<%= f.text_field :amount %>
	</div>
	<div>
	<%= f.label :description %>
	<%= f.text_field :description %>
	</div>
	
	<%= f.submit %>
<% end %>